.edit-container {
    height: 100vh;
    margin-top: 5vh;
    justify-content: center;
    align-items: center; /* essas duas linhas alinham verticalmente e horizontalmente */
}

.edit-container h1 {
    text-align: center;
}


.edit-container img {
    max-width: 100%;
}

.edit-container form {
    display:flex;
    max-width: 100vw;
    justify-content: space-around;
    flex-wrap: wrap;
}

.edit-container form input, select, textarea {
    margin: 5px 0 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    width: 240px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    max-width: 280px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.edit-container p {
    margin: 5px 0 0 5px;
}

.edit-container form button {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: #ebdb15;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    padding: 0 20px 0 20px;
}

.avatar-box {
    max-width: 300px;
    float: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    margin: 5px 0 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2vh;
    border-radius: 10px;
}

.box {
    display: flex;
    flex-direction: column;
}
